/* == User Agent Style ==*/

ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

/* == Body ==*/
h1 {
  font-family: 'Roboto Slab', serif;
}

 h2, p {
  font-family: 'Open Sans', sans-serif;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 25px;
}

body {
  background-color: RGBA(247, 249, 252, 1.00);
}

.container {
  width: 800px;
  margin: 0 auto;
}

    /* == media ==*/

    @media (max-width: 960px) {
      .container {
        width: 700px;
      }
    }

    @media (max-width: 720px) {
      /* For a screen < 720px, this CSS will be read */
      .container {
        width: 500px;
      }
    }

    @media (max-width: 540px) {
      /* For a screen < 540px, this CSS will be read */
      .container {
        width: 300px;
      }
    }


/* == Containers ==*/

.main-container-white {
  background-color: white;
  text-align: center;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin-top: 20px;
}

.containers-white,
.containers-keywords,
.footer {
  background-color: white;
  text-align: center;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin-top: 20px;
  padding: 20px 20px;
}

/* == Main container ==*/

.main-container-white {
  height: 500px;
  margin-top: 20px;
  position: relative;

}

.main-container-white a {
  background-color: #C6312B;
  color: white;
  padding: 10px 10px;
  border-radius: 3px;
}

.main-container-white a:hover {
  background-color: #E93F33
  }


.img-circle {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.img-china  {
  height: 45%;
  width: 100%;
  object-fit: cover;
}

.img-circle.profile {
  position: absolute;
  right: 330;
  top: 165;
  border: 2px solid white;
  box-shadow: 0px 1px 1px grey;
}

.intro {
  margin-top: 80px;
  padding-right: 20px;
  padding-left: 20px;
}

#chinese {
  margin-top: 5px;
  margin-bottom: 30px;
}

/* == Keywords ==*/

.keywords {
  width: 500px;
  margin: 0 auto;

}

.keywords-cloud {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.keywords-cloud p {
  padding: 5px;
  color: red;
  border-radius: 5px;
  border: 1px solid red;
  margin-top: 5px;
}

.keywords-cloud p:hover {
  color: white;
  opacity: 1;
  background-color: red;
}


/* == thrird container ==*/

.img-logo {
  width: 100px
  height: auto;
}


img.img-logo {
  width: 100px;
}

.logos {
  margin-top: 10px;
}

#dataxu{
  width: 70px;
}

/* == fourth container ==*/
/* == fifth container ==*/


/* == Footer ==*/

.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-list a {
  text-decoration: none;
  color: RGBA(198, 52, 42, 0.8);
  font-size: 30px;
}

.icon-list a:hover {
  color: RGBA(198, 52, 42, 1);
  opacity: 1;
}

.icon-2 {
  margin-left: 5px;

}

.icon-3 {
  margin-right: 20px;
}

#yoda {
  width: 100px;
  height: auto;
}
